language: php

php:
  - 5.3
  - 5.4
  - 5.5

before_script:
  - composer require satooshi/php-coveralls:dev-master

script:
  - phpunit --coverage-clover ../../extensions/Validator/build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v

notifications:
  email:
    recipients:
      - jeroendedauw@gmail.com
    on_success: change
    on_failure: always
  irc:
    channels:
      - "chat.freenode.net#wikimedia-wikidata"
      - "chat.freenode.net#semantic-mediawiki"
    on_success: change
    on_failure: always